/* Inserta tu CSS aqui */
body {
	margin: 20px;
	padding: 20px;
}

.orange {
	background-color: #E93517;
	position: static;
	width: 320px;
	height: 320px;
}

.purple {
	background-color: #9F23D8;
	position: relative;
	width: 160px;
	height: 160px;
	top: 80px;
	left: 80px;
}

.yellow {
	background-color: #FBEF34;
	position: absolute;
	width: 80px;
	height: 80px;

}